/* Universal Selectors */
*{
	font-family: Verdana;
	box-sizing: border-box;
}

/* Type Selectors */
body {
	margin: 0;
	padding: 0;
	width: 100%;
}

h1{
	color: white;
	margin-top: 0;
	margin-bottom: 0;
}

p{
	font-size: 16px;

}

/* Class Selectors */
.note{
	padding: 10px;
}

.btn{
	background-color: yellow;
	cursor: pointer;
}

.btn:hover{
	background-color: green;
}

.header{
	background-color: #6B7280;
	box-shadow: 0px 4px 10px 0px;
	margin: 0;
	font-size: 20px;
	vertical-align: center;
	padding: 12px 16px;
	position: sticky;
}

.pageTitle{
	padding: 5px;
	border-bottom: 1px solid#f4f4f9;
	text-align: center;
}